{{- if and .Site.Params.giscus.repoid .Site.Params.giscus.categoryid -}}
<div class="comments-separator"></div>
<script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.giscus.repo }}"
        data-repo-id="{{ .Site.Params.giscus.repoid }}"
        data-category="{{ .Site.Params.giscus.category }}"
        data-category-id="{{ .Site.Params.giscus.categoryid }}"
        data-mapping="{{ .Site.Params.giscus.mapping }}"
        data-strict="{{ .Site.Params.giscus.strict }}"
        data-reactions-enabled="{{ .Site.Params.giscus.reactionsenabled }}"
        data-emit-metadata="{{ .Site.Params.giscus.emitmetadata }}"
        data-input-position="{{ .Site.Params.giscus.inputposition }}"
        data-theme="{{ .Site.Params.giscus.theme }}"
        data-lang="{{ if eq .Site.Language.Lang "zh" }}zh-CN{{ else }}en{{ end }}"
        crossorigin="anonymous"
        async>
</script>
{{- end -}}
